<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Register</title>
  </head>
  <body>
		<div>
			<h1> {{ title }} </h1>
			<form>
				<label for="name">Username</label>
				<input name="name">

				<label for="email">Email</label>
				<input name="email">

				<label for="password">Password</label>
				<input name="password" type="password">

				<label for="confirm">Confirm Password</label>
				<input name="confirm" type="password">
			</form>
		</div>
  </body>
</html>